## Import libraries

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=UserWarning)

import numpy as np
import pandas as pd
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import RobustScaler
from sklearn.model_selection import StratifiedKFold

from catboost import CatBoostRegressor

np.random.seed(42)

## Load source datasets

In [2]:
train = pd.read_csv("../input/mh-wsmlc/train.csv")
print(f"train: {train.shape}")
train.head()

train: (175296, 18)

,Year,Month,Day,Hour,Minute,Clearsky DHI,Clearsky DNI,Clearsky GHI,Cloud Type,Dew Point,Temperature,Pressure,Relative Humidity,Solar Zenith Angle,Precipitable Water,Wind Direction,Wind Speed,Fill Flag
0,2009,1,1,0,0,0,0,0,0,0.0,5.0,1010,75.34,106.15,0.499,346.1,3.1,0
1,2009,1,1,0,30,0,0,0,0,1.0,5.0,1010,80.81,112.28,0.490,346.1,3.1,0
2,2009,1,1,1,0,0,0,0,4,0.0,5.0,1010,78.27,118.50,0.482,347.9,3.2,0
3,2009,1,1,1,30,0,0,0,4,0.0,4.0,1010,78.27,124.78,0.478,347.9,3.1,0
4,2009,1,1,2,0,0,0,0,4,0.0,4.0,1010,76.45,131.12,0.475,350.0,3.0,0

In [3]:
test = pd.read_csv("../input/mh-wsmlc/test.csv")
print(f"test: {test.shape}")
test.head()

test: (17520, 18)

,Year,Month,Day,Hour,Minute,Cloud Type,Dew Point,Temperature,Pressure,Relative Humidity,Solar Zenith Angle,Precipitable Water,Wind Direction,Wind Speed,Fill Flag,Clearsky DHI,Clearsky DNI,Clearsky GHI
0,2019,1,1,0,0,7,18.4,18.8,1008,97.70,106.23,3.5,190,2.3,0,NaN,NaN,NaN
1,2019,1,1,0,30,3,18.4,18.6,1008,98.92,112.36,3.5,187,2.5,0,NaN,NaN,NaN
2,2019,1,1,1,0,3,18.2,18.5,1008,98.35,118.58,3.5,184,2.8,0,NaN,NaN,NaN
3,2019,1,1,1,30,3,18.2,18.3,1008,99.58,124.86,3.5,185,3.0,0,NaN,NaN,NaN
4,2019,1,1,2,0,0,18.0,18.0,1008,99.71,131.20,3.6,186,3.1,0,NaN,NaN,NaN

## Feature Engineering

In [4]:
def encode(data, col, max_val):
    data[col + '_sin'] = np.sin(2 * np.pi * data[col]/max_val)
    data[col + '_cos'] = np.cos(2 * np.pi * data[col]/max_val)
    return data

In [5]:
train['Date'] = train.apply(lambda row: pd.to_datetime(str(row['Year']).split('.')[0] + \
                                                       str(row['Month']).split('.')[0].zfill(2) + \
                                                       str(row['Day']).split('.')[0].zfill(2) + ' ' + \
                                                       str(row['Hour']).split('.')[0].zfill(2) + ':' + \
                                                       str(row['Minute']).split('.')[0].zfill(2), format='%Y%m%d %H:%M'), axis=1)

train['Quarter'] = train['Date'].apply(lambda x: pd.to_datetime(x).quarter)
train['Week'] = train['Date'].apply(lambda x: pd.to_datetime(x).week)
train['DayofWeek'] = train['Date'].apply(lambda x: pd.to_datetime(x).dayofweek)
train['isWeekend'] = np.where(train['DayofWeek'].isin([5,6]),1,0)
train['season'] = train['Month'].apply(lambda x: 0 if x in [2,3] else 1 if x in [4,5,6] else 2 if x in [7,8] else 3 if x in [9,10,11] else 4)

train['Time Elapsed'] = train['Date'].apply(lambda x: (pd.to_datetime(x, format='%Y-%m-%d %H:%M') - \
                                                       pd.to_datetime(pd.to_datetime(x).strftime("%Y-%m-01 00:00"), 
                                                                      format='%Y-%m-%d %H:%M')).seconds / 60.0)

train.drop(['Date'], axis=1, inplace=True)
train.head()

,Year,Month,Day,Hour,Minute,Clearsky DHI,Clearsky DNI,Clearsky GHI,Cloud Type,Dew Point,...,Precipitable Water,Wind Direction,Wind Speed,Fill Flag,Quarter,Week,DayofWeek,isWeekend,season,Time Elapsed
0,2009,1,1,0,0,0,0,0,0,0.0,...,0.499,346.1,3.1,0,1,1,3,0,4,0.0
1,2009,1,1,0,30,0,0,0,0,1.0,...,0.490,346.1,3.1,0,1,1,3,0,4,30.0
2,2009,1,1,1,0,0,0,0,4,0.0,...,0.482,347.9,3.2,0,1,1,3,0,4,60.0
3,2009,1,1,1,30,0,0,0,4,0.0,...,0.478,347.9,3.1,0,1,1,3,0,4,90.0
4,2009,1,1,2,0,0,0,0,4,0.0,...,0.475,350.0,3.0,0,1,1,3,0,4,120.0

In [6]:
test['Date'] = test.apply(lambda row: pd.to_datetime(str(row['Year']).split('.')[0] + \
                                                     str(row['Month']).split('.')[0].zfill(2) + \
                                                     str(row['Day']).split('.')[0].zfill(2) + ' ' + \
                                                     str(row['Hour']).split('.')[0].zfill(2) + ':' + \
                                                     str(row['Minute']).split('.')[0].zfill(2), format='%Y%m%d %H:%M'), axis=1)

test['Quarter'] = test['Date'].apply(lambda x: pd.to_datetime(x).quarter)
test['Week'] = test['Date'].apply(lambda x: pd.to_datetime(x).week)
test['DayofWeek'] = test['Date'].apply(lambda x: pd.to_datetime(x).dayofweek)
test['isWeekend'] = np.where(test['DayofWeek'].isin([5,6]),1,0)
test['season'] = test['Month'].apply(lambda x: 0 if x in [2,3] else 1 if x in [4,5,6] else 2 if x in [7,8] else 3 if x in [9,10,11] else 4)

test['Time Elapsed'] = test['Date'].apply(lambda x: (pd.to_datetime(x, format='%Y-%m-%d %H:%M') - \
                                                     pd.to_datetime(pd.to_datetime(x).strftime("%Y-%m-01 00:00"), 
                                                                    format='%Y-%m-%d %H:%M')).seconds / 60.0)

test.drop(['Date'], axis=1, inplace=True)
test.head()

,Year,Month,Day,Hour,Minute,Cloud Type,Dew Point,Temperature,Pressure,Relative Humidity,...,Fill Flag,Clearsky DHI,Clearsky DNI,Clearsky GHI,Quarter,Week,DayofWeek,isWeekend,season,Time Elapsed
0,2019,1,1,0,0,7,18.4,18.8,1008,97.70,...,0,NaN,NaN,NaN,1,1,1,0,4,0.0
1,2019,1,1,0,30,3,18.4,18.6,1008,98.92,...,0,NaN,NaN,NaN,1,1,1,0,4,30.0
2,2019,1,1,1,0,3,18.2,18.5,1008,98.35,...,0,NaN,NaN,NaN,1,1,1,0,4,60.0
3,2019,1,1,1,30,3,18.2,18.3,1008,99.58,...,0,NaN,NaN,NaN,1,1,1,0,4,90.0
4,2019,1,1,2,0,0,18.0,18.0,1008,99.71,...,0,NaN,NaN,NaN,1,1,1,0,4,120.0

In [7]:
train['Dew Point / Temperature'] = train.apply(lambda row: 0 if row['Temperature']==0 else row['Dew Point']/row['Temperature'], axis=1)
train['Dew Point / Pressure'] = train['Dew Point']/train['Pressure']
train['Precipitable Water / Dew Point'] = train.apply(lambda row: 0 if row['Dew Point']==0 else row['Precipitable Water']/row['Dew Point'], axis=1)
train['Temperature / Pressure'] = train['Temperature']/train['Pressure']
train['Humidity * Water'] = train['Relative Humidity'] * train['Precipitable Water']
train['Humidity * Wind'] = train['Relative Humidity'] * train['Wind Speed']
train['Humidity * Temp Diff'] = train['Relative Humidity'] * (train['Temperature'] - train['Dew Point'])

train = encode(train, 'Month', train['Month'].max())
train = encode(train, 'Quarter', train['Quarter'].max())
train = encode(train, 'season', train['season'].max())
train = encode(train, 'Week', train['Week'].max())
train = encode(train, 'DayofWeek', train['DayofWeek'].max())
train = encode(train, 'Day', train['Day'].max())
train = encode(train, 'Hour', train['Hour'].max())
train = encode(train, 'Solar Zenith Angle', 90)
train = encode(train, 'Wind Direction', 180)
train = encode(train, 'Time Elapsed', train['Time Elapsed'].max())

train.drop(['Month','Quarter','season','Day', 'Time Elapsed',
            'Week','DayofWeek','Wind Direction'], axis=1, inplace=True)
train.head()

,Year,Hour,Minute,Clearsky DHI,Clearsky DNI,Clearsky GHI,Cloud Type,Dew Point,Temperature,Pressure,...,Day_sin,Day_cos,Hour_sin,Hour_cos,Solar Zenith Angle_sin,Solar Zenith Angle_cos,Wind Direction_sin,Wind Direction_cos,Time Elapsed_sin,Time Elapsed_cos
0,2009,0,0,0,0,0,0,0.0,5.0,1010,...,0.201299,0.97953,0.000000,1.000000,0.903335,0.428935,-0.466387,0.884581,0.000000,1.000000
1,2009,0,30,0,0,0,0,1.0,5.0,1010,...,0.201299,0.97953,0.000000,1.000000,0.999882,0.015358,-0.466387,0.884581,0.133287,0.991077
2,2009,1,0,0,0,0,4,0.0,5.0,1010,...,0.201299,0.97953,0.269797,0.962917,0.913545,-0.406737,-0.409923,0.912120,0.264195,0.964469
3,2009,1,30,0,0,0,4,0.0,4.0,1010,...,0.201299,0.97953,0.269797,0.962917,0.654477,-0.756082,-0.409923,0.912120,0.390389,0.920650
4,2009,2,0,0,0,0,4,0.0,4.0,1010,...,0.201299,0.97953,0.519584,0.854419,0.267575,-0.963537,-0.342020,0.939693,0.509617,0.860402

In [8]:
test['Dew Point / Temperature'] = test.apply(lambda row: 0 if row['Temperature']==0 else row['Dew Point']/row['Temperature'], axis=1)
test['Dew Point / Pressure'] = test['Dew Point']/test['Pressure']
test['Precipitable Water / Dew Point'] = test.apply(lambda row: 0 if row['Dew Point']==0 else row['Precipitable Water']/row['Dew Point'], axis=1)
test['Temperature / Pressure'] = test['Temperature']/test['Pressure']
test['Humidity * Water'] = test['Relative Humidity'] * test['Precipitable Water']
test['Humidity * Wind'] = test['Relative Humidity'] * test['Wind Speed']
test['Humidity * Temp Diff'] = test['Relative Humidity'] * (test['Temperature'] - test['Dew Point'])

test = encode(test, 'Month', test['Month'].max())
test = encode(test, 'Quarter', test['Quarter'].max())
test = encode(test, 'season', test['season'].max())
test = encode(test, 'Week', test['Week'].max())
test = encode(test, 'DayofWeek', test['DayofWeek'].max())
test = encode(test, 'Day', test['Day'].max())
test = encode(test, 'Hour', test['Hour'].max())
test = encode(test, 'Solar Zenith Angle', 90)
test = encode(test, 'Wind Direction', 180)
test = encode(test, 'Time Elapsed', test['Time Elapsed'].max())

test.drop(['Month','Quarter','season','Day', 'Time Elapsed',
           'Week','DayofWeek','Wind Direction'], axis=1, inplace=True)
test.head()

,Year,Hour,Minute,Cloud Type,Dew Point,Temperature,Pressure,Relative Humidity,Solar Zenith Angle,Precipitable Water,...,Day_sin,Day_cos,Hour_sin,Hour_cos,Solar Zenith Angle_sin,Solar Zenith Angle_cos,Wind Direction_sin,Wind Direction_cos,Time Elapsed_sin,Time Elapsed_cos
0,2019,0,0,7,18.4,18.8,1008,97.70,106.23,3.5,...,0.201299,0.97953,0.000000,1.000000,0.905717,0.423883,0.342020,0.939693,0.000000,1.000000
1,2019,0,30,3,18.4,18.6,1008,98.92,112.36,3.5,...,0.201299,0.97953,0.000000,1.000000,0.999952,0.009774,0.241922,0.970296,0.133287,0.991077
2,2019,1,0,3,18.2,18.5,1008,98.35,118.58,3.5,...,0.201299,0.97953,0.269797,0.962917,0.911260,-0.411832,0.139173,0.990268,0.264195,0.964469
3,2019,1,30,3,18.2,18.3,1008,99.58,124.86,3.5,...,0.201299,0.97953,0.269797,0.962917,0.650244,-0.759725,0.173648,0.984808,0.390389,0.920650
4,2019,2,0,0,18.0,18.0,1008,99.71,131.20,3.6,...,0.201299,0.97953,0.519584,0.854419,0.262189,-0.965016,0.207912,0.978148,0.509617,0.860402

In [9]:
def shift_features(df, features, shifts):
    for feature in features:
        for shift in shifts:
            df[feature+"-"+str(shift)+"abs_shift"] = df[feature] - df[feature].shift(periods=shift, fill_value=0)
            df[feature+"+"+str(shift)+"abs_shift"] = df[feature] - df[feature].shift(periods=-shift, fill_value=0)

    df.replace(to_replace=np.inf, value=0, inplace=True)
    return df

In [10]:
features = ['Dew Point', 'Temperature', 'Pressure', 'Relative Humidity', 'Precipitable Water', 
            'Wind Speed', 'Solar Zenith Angle_sin', 'Solar Zenith Angle_cos', 'Wind Direction_sin',
            'Wind Direction_cos', 'Dew Point / Temperature', 'Dew Point / Pressure', 
            'Temperature / Pressure', 'Precipitable Water / Dew Point', 'Humidity * Water', 
            'Humidity * Wind', 'Humidity * Temp Diff']

shifts = [1, 2, 3, 6, 9, 12, 18, 24, 36, 48, 72]

train = shift_features(train, features, shifts)
train.head()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  after removing the cwd from sys.path.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  """

,Year,Hour,Minute,Clearsky DHI,Clearsky DNI,Clearsky GHI,Cloud Type,Dew Point,Temperature,Pressure,...,Humidity * Temp Diff-18abs_shift,Humidity * Temp Diff+18abs_shift,Humidity * Temp Diff-24abs_shift,Humidity * Temp Diff+24abs_shift,Humidity * Temp Diff-36abs_shift,Humidity * Temp Diff+36abs_shift,Humidity * Temp Diff-48abs_shift,Humidity * Temp Diff+48abs_shift,Humidity * Temp Diff-72abs_shift,Humidity * Temp Diff+72abs_shift
0,2009,0,0,0,0,0,0,0.0,5.0,1010,...,376.70,288.38,376.70,206.78,376.70,-102.79,376.70,55.38,376.70,276.70
1,2009,0,30,0,0,0,0,1.0,5.0,1010,...,323.24,234.91,323.24,86.21,323.24,-156.03,323.24,64.73,323.24,223.24
2,2009,1,0,0,0,0,4,0.0,5.0,1010,...,391.35,220.65,391.35,156.21,391.35,-73.35,391.35,215.23,391.35,391.35
3,2009,1,30,0,0,0,4,0.0,4.0,1010,...,313.08,142.32,313.08,-0.48,313.08,-151.62,313.08,137.02,313.08,218.81
4,2009,2,0,0,0,0,4,0.0,4.0,1010,...,305.80,217.40,305.80,-96.62,305.80,-146.90,305.80,126.24,305.80,210.31

In [11]:
test = shift_features(test, features, shifts)
test.head()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  after removing the cwd from sys.path.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  """

,Year,Hour,Minute,Cloud Type,Dew Point,Temperature,Pressure,Relative Humidity,Solar Zenith Angle,Precipitable Water,...,Humidity * Temp Diff-18abs_shift,Humidity * Temp Diff+18abs_shift,Humidity * Temp Diff-24abs_shift,Humidity * Temp Diff+24abs_shift,Humidity * Temp Diff-36abs_shift,Humidity * Temp Diff+36abs_shift,Humidity * Temp Diff-48abs_shift,Humidity * Temp Diff+48abs_shift,Humidity * Temp Diff-72abs_shift,Humidity * Temp Diff+72abs_shift
0,2019,0,0,7,18.4,18.8,1008,97.70,106.23,3.5,...,39.080,29.127,39.080,29.118,39.080,-183.558,39.080,39.080,39.080,19.304
1,2019,0,30,3,18.4,18.6,1008,98.92,112.36,3.5,...,19.784,-9.700,19.784,-38.146,19.784,-202.854,19.784,19.784,19.784,-47.262
2,2019,1,0,3,18.2,18.5,1008,98.35,118.58,3.5,...,29.505,9.695,29.505,9.741,29.505,-192.119,29.505,29.505,29.505,-9.559
3,2019,1,30,3,18.2,18.3,1008,99.58,124.86,3.5,...,9.958,0.043,9.958,-84.072,9.958,-197.066,9.958,9.958,9.958,-92.826
4,2019,2,0,0,18.0,18.0,1008,99.71,131.20,3.6,...,0.000,0.000,0.000,-48.415,0.000,-184.758,0.000,0.000,0.000,-66.927

In [12]:
features = test.columns.tolist()
features.remove('Clearsky DHI')
features.remove('Clearsky DNI')
features.remove('Clearsky GHI')
features.remove('Hour')
features.remove('Solar Zenith Angle')
len(features)

412

In [13]:
cat_cols = ['Year','Minute','isWeekend','Pressure','Fill Flag','Cloud Type']

train[cat_cols] = train[cat_cols].astype(int)
test[cat_cols] = test[cat_cols].astype(int)
cat_cols_indices = [train[features].columns.get_loc(col) for col in cat_cols]
print(cat_cols_indices)

[0, 1, 10, 5, 9, 2]

In [14]:
num_cols = [col for col in features if col not in cat_cols]

scaler = RobustScaler().fit(train[num_cols])
train[num_cols] = scaler.transform(train[num_cols])
test[num_cols] = scaler.transform(test[num_cols])

In [15]:
train_org = train.copy()
train = train[train['Solar Zenith Angle']<93].reset_index(drop=True).copy()
train = train[~train['Hour'].isin([1,2,3,4,5,6,7,8,9])].reset_index(drop=True).copy()
print(f"train_org: {train_org.shape} \ntrain: {train.shape}")

train_org: (175296, 417)
train: (91563, 417)

In [16]:
test_org = test.copy()
test = test[test['Solar Zenith Angle']<93].reset_index(drop=True).copy()
test = test[~test['Hour'].isin([1,2,3,4,5,6,7,8,9])].reset_index(drop=True).copy()
print(f"test_org: {test_org.shape} \ntest: {test.shape}")

test_org: (17520, 417)
test: (9150, 417)

## CatBoost

In [17]:
dhi_model = CatBoostRegressor(
    objective='RMSE',
    eval_metric='RMSE',
    num_boost_round=5000,
    learning_rate=0.067,
    reg_lambda=0.1724,
    use_best_model=True,
    bootstrap_type='Poisson',
    subsample=0.6654,
    max_depth=11, 
    grow_policy='Lossguide',
    min_data_in_leaf=14, 
    max_leaves=117,
    task_type='GPU',
    verbose=0,
    random_state=42
)

dni_model = CatBoostRegressor(
    objective='RMSE',
    eval_metric='RMSE',
    num_boost_round=5000,
    learning_rate=0.0656,
    reg_lambda=0.0013,
    use_best_model=True,
    bootstrap_type='Poisson',
    subsample=0.92993,
    max_depth=12, 
    grow_policy='Lossguide',
    min_data_in_leaf=8, 
    max_leaves=68,
    task_type='GPU',
    verbose=0,
    random_state=42
)

ghi_model = CatBoostRegressor(
    objective='RMSE',
    eval_metric='RMSE',
    num_boost_round=5000,
    learning_rate=0.05,
    reg_lambda=0.044,
    use_best_model=True,
    bootstrap_type='Poisson',
    subsample=0.9947,
    max_depth=7, 
    grow_policy='Lossguide',
    min_data_in_leaf=9, 
    max_leaves=153,
    task_type='GPU',
    verbose=0,
    random_state=42
)

model_dict = {
    'Clearsky DHI': dhi_model,
    'Clearsky DNI': dni_model,
    'Clearsky GHI': ghi_model
}

In [18]:
for target in ['Clearsky DHI','Clearsky DNI','Clearsky GHI']:
    print(f"Training for target: {target}\n")
    
    splits = 10
    skf = StratifiedKFold(n_splits=splits, shuffle=True, random_state=42)
    oof_preds = np.zeros((train.shape[0],))
    model_preds = 0
    
    for fold, (train_idx, valid_idx) in enumerate(skf.split(train[features], train['Year'])):
        X_train, X_valid = train.loc[train_idx][features], train.loc[valid_idx][features]
        y_train, y_valid = train.loc[train_idx][target], train.loc[valid_idx][target]
        
        model = model_dict.get(target)
        
        model.fit(X_train, y_train, eval_set=[(X_valid, y_valid)], 
                  cat_features=cat_cols_indices,
                  early_stopping_rounds=50, verbose=1000)
        
        model_preds += model.predict(test[features]) / splits
        oof_preds[valid_idx] = model.predict(X_valid)
        
        print(f"\nFold-{fold+1} | MSE: {mean_squared_error(y_valid, oof_preds[valid_idx])}\n")
    
    train[target+'_cb'] = oof_preds
    test[target+'_cb'] = model_preds
    
    model_mse = mean_squared_error(train[target], oof_preds)
    print(f"All Folds | MSE: {model_mse}\n")

Training for target: Clearsky DHI

0:	learn: 51.3809587	test: 51.2688388	best: 51.2688388 (0)	total: 128ms	remaining: 10m 39s
1000:	learn: 3.3680613	test: 8.0516537	best: 8.0516537 (1000)	total: 1m 7s	remaining: 4m 28s
2000:	learn: 1.9102606	test: 7.3141109	best: 7.3141109 (2000)	total: 2m 15s	remaining: 3m 22s
3000:	learn: 1.3610062	test: 7.1136111	best: 7.1136111 (3000)	total: 3m 22s	remaining: 2m 14s
4000:	learn: 1.0767972	test: 7.0317965	best: 7.0317965 (4000)	total: 4m 29s	remaining: 1m 7s
4999:	learn: 0.9028370	test: 6.9924988	best: 6.9924988 (4999)	total: 5m 36s	remaining: 0us
bestTest = 6.992498789
bestIteration = 4999

Fold-1 | MSE: 48.8951177798107

0:	learn: 51.4017456	test: 51.2674585	best: 51.2674585 (0)	total: 122ms	remaining: 10m 9s
1000:	learn: 3.3650995	test: 8.1977894	best: 8.1977894 (1000)	total: 1m 7s	remaining: 4m 30s
2000:	learn: 1.8457528	test: 7.4219697	best: 7.4219697 (2000)	total: 2m 14s	remaining: 3m 22s
3000:	learn: 1.2953025	test: 7.2163762	best: 7.2163762 (3000)	total: 3m 21s	remaining: 2m 14s
4000:	learn: 1.0168009	test: 7.1355872	best: 7.1355872 (4000)	total: 4m 28s	remaining: 1m 7s
4999:	learn: 0.8494825	test: 7.0989149	best: 7.0989149 (4999)	total: 5m 35s	remaining: 0us
bestTest = 7.098914864
bestIteration = 4999

Fold-2 | MSE: 50.39443025093023

0:	learn: 51.3494807	test: 51.8069054	best: 51.8069054 (0)	total: 72.2ms	remaining: 6m 1s
1000:	learn: 3.3788235	test: 8.3634409	best: 8.3634409 (1000)	total: 1m 7s	remaining: 4m 29s
2000:	learn: 1.8813372	test: 7.5815936	best: 7.5815936 (2000)	total: 2m 14s	remaining: 3m 21s
3000:	learn: 1.3249785	test: 7.3607880	best: 7.3607319 (2998)	total: 3m 22s	remaining: 2m 14s
4000:	learn: 1.0422826	test: 7.2709394	best: 7.2709394 (4000)	total: 4m 28s	remaining: 1m 7s
4999:	learn: 0.8708768	test: 7.2288809	best: 7.2288809 (4999)	total: 5m 35s	remaining: 0us
bestTest = 7.228880936
bestIteration = 4999

Fold-3 | MSE: 52.25678852007902

0:	learn: 51.3489347	test: 51.7686067	best: 51.7686067 (0)	total: 84.6ms	remaining: 7m 2s
1000:	learn: 3.3959576	test: 7.9305176	best: 7.9305176 (1000)	total: 1m 8s	remaining: 4m 32s
2000:	learn: 1.9077549	test: 7.1893540	best: 7.1893540 (2000)	total: 2m 15s	remaining: 3m 23s
3000:	learn: 1.3450433	test: 6.9863283	best: 6.9863283 (3000)	total: 3m 22s	remaining: 2m 15s
4000:	learn: 1.0482252	test: 6.9027254	best: 6.9027254 (4000)	total: 4m 29s	remaining: 1m 7s
4999:	learn: 0.8661345	test: 6.8612998	best: 6.8612998 (4999)	total: 5m 36s	remaining: 0us
bestTest = 6.861299845
bestIteration = 4999

Fold-4 | MSE: 47.07753609243405

0:	learn: 51.3289625	test: 51.8636621	best: 51.8636621 (0)	total: 73.5ms	remaining: 6m 7s
1000:	learn: 3.5438467	test: 8.3132931	best: 8.3132931 (1000)	total: 1m 8s	remaining: 4m 31s
2000:	learn: 2.0881135	test: 7.5798736	best: 7.5798736 (2000)	total: 2m 15s	remaining: 3m 22s
3000:	learn: 1.5530447	test: 7.3770605	best: 7.3770605 (3000)	total: 3m 23s	remaining: 2m 15s
4000:	learn: 1.2643343	test: 7.2995536	best: 7.2995536 (4000)	total: 4m 30s	remaining: 1m 7s
4999:	learn: 1.0812687	test: 7.2584613	best: 7.2584613 (4999)	total: 5m 38s	remaining: 0us
bestTest = 7.25846134
bestIteration = 4999

Fold-5 | MSE: 52.68555649122125

0:	learn: 51.3852229	test: 51.2137798	best: 51.2137798 (0)	total: 71.4ms	remaining: 5m 56s
1000:	learn: 3.1908620	test: 8.1015469	best: 8.1015469 (1000)	total: 1m 8s	remaining: 4m 32s
2000:	learn: 1.7110066	test: 7.3670483	best: 7.3670483 (2000)	total: 2m 15s	remaining: 3m 23s
3000:	learn: 1.1752278	test: 7.1712115	best: 7.1712115 (3000)	total: 3m 23s	remaining: 2m 15s
4000:	learn: 0.9059291	test: 7.0971890	best: 7.0971890 (4000)	total: 4m 30s	remaining: 1m 7s
4999:	learn: 0.7457278	test: 7.0570465	best: 7.0570465 (4999)	total: 5m 37s	remaining: 0us
bestTest = 7.057046539
bestIteration = 4999

Fold-6 | MSE: 49.80182980564729

0:	learn: 51.3405020	test: 51.7041057	best: 51.7041057 (0)	total: 67.1ms	remaining: 5m 35s
1000:	learn: 3.3207881	test: 8.1008264	best: 8.1008264 (1000)	total: 1m 8s	remaining: 4m 34s
2000:	learn: 1.8437374	test: 7.3733815	best: 7.3733815 (2000)	total: 2m 16s	remaining: 3m 24s
3000:	learn: 1.2977280	test: 7.1684048	best: 7.1683336 (2999)	total: 3m 23s	remaining: 2m 15s
4000:	learn: 1.0074088	test: 7.0865957	best: 7.0865957 (4000)	total: 4m 30s	remaining: 1m 7s
4999:	learn: 0.8342898	test: 7.0462081	best: 7.0461272 (4998)	total: 5m 37s	remaining: 0us
bestTest = 7.046127197
bestIteration = 4998
Shrink model to first 4999 iterations.

Fold-7 | MSE: 49.64782442152803

0:	learn: 51.3716544	test: 51.4685154	best: 51.4685154 (0)	total: 69.1ms	remaining: 5m 45s
1000:	learn: 3.4352662	test: 8.1081962	best: 8.1081962 (1000)	total: 1m 7s	remaining: 4m 31s
2000:	learn: 1.9807090	test: 7.3699682	best: 7.3699682 (2000)	total: 2m 15s	remaining: 3m 22s
3000:	learn: 1.4361910	test: 7.1637527	best: 7.1637527 (3000)	total: 3m 22s	remaining: 2m 14s
4000:	learn: 1.1541271	test: 7.0801267	best: 7.0800602 (3999)	total: 4m 29s	remaining: 1m 7s
4999:	learn: 0.9782813	test: 7.0383184	best: 7.0383184 (4999)	total: 5m 36s	remaining: 0us
bestTest = 7.038318404
bestIteration = 4999

Fold-8 | MSE: 49.53801505131901

0:	learn: 51.4676807	test: 50.4777871	best: 50.4777871 (0)	total: 76.5ms	remaining: 6m 22s
1000:	learn: 3.3833131	test: 8.3521635	best: 8.3521635 (1000)	total: 1m 7s	remaining: 4m 29s
2000:	learn: 1.9219192	test: 7.6213506	best: 7.6213506 (2000)	total: 2m 14s	remaining: 3m 21s
3000:	learn: 1.3737573	test: 7.4090937	best: 7.4090937 (3000)	total: 3m 21s	remaining: 2m 14s
4000:	learn: 1.0907605	test: 7.3252423	best: 7.3252423 (4000)	total: 4m 29s	remaining: 1m 7s
4999:	learn: 0.9137515	test: 7.2835392	best: 7.2835392 (4999)	total: 5m 37s	remaining: 0us
bestTest = 7.283539204
bestIteration = 4999

Fold-9 | MSE: 53.04998334864204

0:	learn: 51.4131534	test: 51.2179489	best: 51.2179489 (0)	total: 64.9ms	remaining: 5m 24s
1000:	learn: 3.4063032	test: 7.9709212	best: 7.9709212 (1000)	total: 1m 9s	remaining: 4m 35s
2000:	learn: 1.9908093	test: 7.2547530	best: 7.2547530 (2000)	total: 2m 16s	remaining: 3m 23s
3000:	learn: 1.4620146	test: 7.0564981	best: 7.0564981 (3000)	total: 3m 23s	remaining: 2m 15s
4000:	learn: 1.1795157	test: 6.9742038	best: 6.9742038 (4000)	total: 4m 30s	remaining: 1m 7s
4999:	learn: 1.0026319	test: 6.9337596	best: 6.9337596 (4999)	total: 5m 38s	remaining: 0us
bestTest = 6.933759628
bestIteration = 4999

Fold-10 | MSE: 48.07677495375623

All Folds | MSE: 50.14239789459126

Training for target: Clearsky DNI

0:	learn: 250.5950800	test: 251.0111386	best: 251.0111386 (0)	total: 47ms	remaining: 3m 54s
1000:	learn: 13.7169860	test: 25.1255198	best: 25.1255198 (1000)	total: 45s	remaining: 2m 59s
2000:	learn: 7.6671881	test: 22.0176843	best: 22.0176843 (2000)	total: 1m 28s	remaining: 2m 11s
3000:	learn: 5.2425598	test: 21.0512144	best: 21.0512144 (3000)	total: 2m 10s	remaining: 1m 26s
4000:	learn: 4.0217047	test: 20.6409519	best: 20.6409519 (4000)	total: 2m 53s	remaining: 43.2s
4999:	learn: 3.3086336	test: 20.4378628	best: 20.4378628 (4999)	total: 3m 36s	remaining: 0us
bestTest = 20.4378628
bestIteration = 4999

Fold-1 | MSE: 417.7073823134413

0:	learn: 250.6656449	test: 250.4809274	best: 250.4809274 (0)	total: 45.5ms	remaining: 3m 47s
1000:	learn: 13.7492964	test: 24.6342437	best: 24.6342437 (1000)	total: 44.1s	remaining: 2m 56s
2000:	learn: 7.5050303	test: 21.5291871	best: 21.5291871 (2000)	total: 1m 27s	remaining: 2m 11s
3000:	learn: 4.9686617	test: 20.5335315	best: 20.5335315 (3000)	total: 2m 10s	remaining: 1m 26s
4000:	learn: 3.6598673	test: 20.1256387	best: 20.1256387 (4000)	total: 2m 52s	remaining: 43.2s
4999:	learn: 2.8871720	test: 19.9230398	best: 19.9229432 (4997)	total: 3m 36s	remaining: 0us
bestTest = 19.92294318
bestIteration = 4997
Shrink model to first 4998 iterations.

Fold-2 | MSE: 396.9238581344479

0:	learn: 250.5544525	test: 251.4876702	best: 251.4876702 (0)	total: 248ms	remaining: 20m 41s
1000:	learn: 13.6600977	test: 25.8489207	best: 25.8489207 (1000)	total: 43.7s	remaining: 2m 54s
2000:	learn: 7.3080382	test: 22.6423108	best: 22.6423108 (2000)	total: 1m 26s	remaining: 2m 9s
3000:	learn: 4.6738775	test: 21.5684515	best: 21.5684515 (3000)	total: 2m 10s	remaining: 1m 26s
4000:	learn: 3.3345921	test: 21.1331170	best: 21.1331170 (4000)	total: 2m 52s	remaining: 43.1s
4999:	learn: 2.5619294	test: 20.9257718	best: 20.9256414 (4998)	total: 3m 35s	remaining: 0us
bestTest = 20.92564138
bestIteration = 4998
Shrink model to first 4999 iterations.

Fold-3 | MSE: 437.8814534384796

0:	learn: 250.4172413	test: 252.6969773	best: 252.6969773 (0)	total: 80.8ms	remaining: 6m 43s
1000:	learn: 13.7384041	test: 24.6433538	best: 24.6433538 (1000)	total: 44.1s	remaining: 2m 56s
2000:	learn: 7.6359120	test: 21.7046392	best: 21.7046392 (2000)	total: 1m 27s	remaining: 2m 10s
3000:	learn: 5.1194643	test: 20.7049526	best: 20.7049526 (3000)	total: 2m 9s	remaining: 1m 26s
4000:	learn: 3.8457968	test: 20.2777372	best: 20.2777372 (4000)	total: 2m 52s	remaining: 43.2s
4999:	learn: 3.1063645	test: 20.0775072	best: 20.0775072 (4999)	total: 3m 34s	remaining: 0us
bestTest = 20.07750723
bestIteration = 4999

Fold-4 | MSE: 403.1051966861978

0:	learn: 250.7204448	test: 249.9246894	best: 249.9246894 (0)	total: 46.1ms	remaining: 3m 50s
1000:	learn: 13.7738927	test: 25.7340720	best: 25.7340720 (1000)	total: 44s	remaining: 2m 55s
2000:	learn: 7.5976542	test: 22.6990431	best: 22.6990431 (2000)	total: 1m 26s	remaining: 2m 10s
3000:	learn: 5.0908280	test: 21.6904103	best: 21.6904103 (3000)	total: 2m 9s	remaining: 1m 26s
4000:	learn: 3.8126056	test: 21.2668624	best: 21.2668624 (4000)	total: 2m 51s	remaining: 42.9s
4999:	learn: 3.0729804	test: 21.0687248	best: 21.0687248 (4999)	total: 3m 34s	remaining: 0us
bestTest = 21.06872479
bestIteration = 4999

Fold-5 | MSE: 443.89186668341483

0:	learn: 250.7357589	test: 249.7549625	best: 249.7549625 (0)	total: 44.8ms	remaining: 3m 43s
1000:	learn: 13.6373693	test: 25.3132861	best: 25.3132861 (1000)	total: 43.7s	remaining: 2m 54s
2000:	learn: 7.4823543	test: 22.2668653	best: 22.2668653 (2000)	total: 1m 27s	remaining: 2m 10s
3000:	learn: 4.9751015	test: 21.2754871	best: 21.2747434 (2998)	total: 2m 9s	remaining: 1m 26s
4000:	learn: 3.6682779	test: 20.8509057	best: 20.8509057 (4000)	total: 2m 51s	remaining: 42.9s
4999:	learn: 2.9342008	test: 20.6482323	best: 20.6482323 (4999)	total: 3m 35s	remaining: 0us
bestTest = 20.64823231
bestIteration = 4999

Fold-6 | MSE: 426.3503115658979

0:	learn: 250.5631362	test: 251.3531540	best: 251.3531540 (0)	total: 46.7ms	remaining: 3m 53s
1000:	learn: 14.0713728	test: 25.0722525	best: 25.0722525 (1000)	total: 44.4s	remaining: 2m 57s
2000:	learn: 8.1736429	test: 22.0581908	best: 22.0581908 (2000)	total: 1m 28s	remaining: 2m 11s
3000:	learn: 5.8473937	test: 21.0250707	best: 21.0250707 (3000)	total: 2m 11s	remaining: 1m 27s
4000:	learn: 4.6810640	test: 20.6047501	best: 20.6047501 (4000)	total: 2m 54s	remaining: 43.6s
4999:	learn: 4.0043942	test: 20.3960707	best: 20.3960586 (4998)	total: 3m 37s	remaining: 0us
bestTest = 20.39605864
bestIteration = 4998
Shrink model to first 4999 iterations.

Fold-7 | MSE: 415.9954362631028

0:	learn: 250.5255544	test: 251.5917835	best: 251.5917835 (0)	total: 45ms	remaining: 3m 44s
1000:	learn: 13.6531564	test: 24.9099021	best: 24.9099021 (1000)	total: 44.5s	remaining: 2m 57s
2000:	learn: 7.5469054	test: 21.9401105	best: 21.9401105 (2000)	total: 1m 27s	remaining: 2m 10s
3000:	learn: 5.0244365	test: 20.9184809	best: 20.9184809 (3000)	total: 2m 9s	remaining: 1m 26s
4000:	learn: 3.7448805	test: 20.4914492	best: 20.4914492 (4000)	total: 2m 53s	remaining: 43.3s
4999:	learn: 3.0276381	test: 20.2882932	best: 20.2882932 (4999)	total: 3m 35s	remaining: 0us
bestTest = 20.28829324
bestIteration = 4999

Fold-8 | MSE: 411.6140336685466

0:	learn: 250.9143419	test: 248.2128908	best: 248.2128908 (0)	total: 48.5ms	remaining: 4m 2s
1000:	learn: 13.8499383	test: 25.0060336	best: 25.0060336 (1000)	total: 44.9s	remaining: 2m 59s
2000:	learn: 7.8199043	test: 22.0450708	best: 22.0450708 (2000)	total: 1m 27s	remaining: 2m 10s
3000:	learn: 5.4289309	test: 21.1004419	best: 21.1004419 (3000)	total: 2m 10s	remaining: 1m 26s
4000:	learn: 4.2533072	test: 20.7113403	best: 20.7113403 (4000)	total: 2m 53s	remaining: 43.3s
4999:	learn: 3.5682771	test: 20.5168852	best: 20.5168852 (4999)	total: 3m 36s	remaining: 0us
bestTest = 20.51688521
bestIteration = 4999

Fold-9 | MSE: 420.94281725528674

0:	learn: 250.7073602	test: 250.0039947	best: 250.0039947 (0)	total: 50.3ms	remaining: 4m 11s
1000:	learn: 14.0537929	test: 24.8657898	best: 24.8657898 (1000)	total: 43.7s	remaining: 2m 54s
2000:	learn: 8.0710821	test: 21.8744419	best: 21.8744419 (2000)	total: 1m 27s	remaining: 2m 11s
3000:	learn: 5.7108053	test: 20.8924524	best: 20.8924524 (3000)	total: 2m 10s	remaining: 1m 27s
4000:	learn: 4.5174525	test: 20.4855435	best: 20.4855435 (4000)	total: 2m 53s	remaining: 43.2s
4999:	learn: 3.8337611	test: 20.2878101	best: 20.2878101 (4999)	total: 3m 36s	remaining: 0us
bestTest = 20.28781009
bestIteration = 4999

Fold-10 | MSE: 411.59579589599

All Folds | MSE: 418.60077926164814

Training for target: Clearsky GHI

0:	learn: 288.5742508	test: 289.8149285	best: 289.8149285 (0)	total: 59.5ms	remaining: 4m 57s
1000:	learn: 2.5781277	test: 4.7836078	best: 4.7836078 (1000)	total: 51.4s	remaining: 3m 25s
2000:	learn: 1.3749156	test: 4.1942504	best: 4.1942504 (2000)	total: 1m 41s	remaining: 2m 32s
3000:	learn: 0.8590988	test: 4.0078577	best: 4.0078577 (3000)	total: 2m 30s	remaining: 1m 40s
4000:	learn: 0.5764697	test: 3.9331683	best: 3.9331408 (3998)	total: 3m 20s	remaining: 50s
4999:	learn: 0.4010169	test: 3.8984782	best: 3.8984782 (4999)	total: 4m 8s	remaining: 0us
bestTest = 3.898478195
bestIteration = 4999

Fold-1 | MSE: 15.198124868318633

0:	learn: 288.8904248	test: 286.9682172	best: 286.9682172 (0)	total: 57.6ms	remaining: 4m 48s
1000:	learn: 2.5953123	test: 4.8247072	best: 4.8247072 (1000)	total: 52.5s	remaining: 3m 29s
2000:	learn: 1.3750856	test: 4.2426568	best: 4.2426568 (2000)	total: 1m 44s	remaining: 2m 36s
3000:	learn: 0.8571230	test: 4.0630886	best: 4.0630886 (3000)	total: 2m 33s	remaining: 1m 42s
4000:	learn: 0.5706340	test: 3.9861716	best: 3.9861716 (4000)	total: 3m 23s	remaining: 50.8s
4999:	learn: 0.3972007	test: 3.9509317	best: 3.9509317 (4999)	total: 4m 12s	remaining: 0us
bestTest = 3.950931701
bestIteration = 4999

Fold-2 | MSE: 15.609942997724113

0:	learn: 288.6790206	test: 288.8611493	best: 288.8611493 (0)	total: 62.5ms	remaining: 5m 12s
1000:	learn: 2.5821375	test: 4.8744979	best: 4.8744979 (1000)	total: 53.9s	remaining: 3m 35s
2000:	learn: 1.4084288	test: 4.2755922	best: 4.2755922 (2000)	total: 1m 45s	remaining: 2m 38s
3000:	learn: 0.8878585	test: 4.0759160	best: 4.0759160 (3000)	total: 2m 35s	remaining: 1m 43s
4000:	learn: 0.6057733	test: 3.9962596	best: 3.9962596 (4000)	total: 3m 26s	remaining: 51.6s
4999:	learn: 0.4349515	test: 3.9577983	best: 3.9577983 (4999)	total: 4m 16s	remaining: 0us
bestTest = 3.957798307
bestIteration = 4999

Fold-3 | MSE: 15.664392061686321

0:	learn: 288.4948726	test: 290.5175388	best: 290.5175388 (0)	total: 59.6ms	remaining: 4m 57s
1000:	learn: 2.5991721	test: 4.7446651	best: 4.7446651 (1000)	total: 53.8s	remaining: 3m 34s
2000:	learn: 1.3983606	test: 4.1578906	best: 4.1578906 (2000)	total: 1m 44s	remaining: 2m 36s
3000:	learn: 0.8840159	test: 3.9719313	best: 3.9719313 (3000)	total: 2m 33s	remaining: 1m 42s
4000:	learn: 0.5935470	test: 3.8948370	best: 3.8948370 (4000)	total: 3m 24s	remaining: 50.9s
4999:	learn: 0.4139100	test: 3.8570106	best: 3.8570106 (4999)	total: 4m 13s	remaining: 0us
bestTest = 3.857010599
bestIteration = 4999

Fold-4 | MSE: 14.876669659429266

0:	learn: 288.7244210	test: 288.4569333	best: 288.4569333 (0)	total: 165ms	remaining: 13m 44s
1000:	learn: 2.5777234	test: 4.8855708	best: 4.8855708 (1000)	total: 52.2s	remaining: 3m 28s
2000:	learn: 1.4038140	test: 4.3194025	best: 4.3194025 (2000)	total: 1m 43s	remaining: 2m 34s
3000:	learn: 0.8804074	test: 4.1306690	best: 4.1306690 (3000)	total: 2m 32s	remaining: 1m 41s
4000:	learn: 0.5909053	test: 4.0510430	best: 4.0510430 (4000)	total: 3m 21s	remaining: 50.4s
4999:	learn: 0.4104527	test: 4.0122167	best: 4.0122167 (4999)	total: 4m 11s	remaining: 0us
bestTest = 4.012216746
bestIteration = 4999

Fold-5 | MSE: 16.097866919839063

0:	learn: 288.7099276	test: 288.5692157	best: 288.5692157 (0)	total: 64.3ms	remaining: 5m 21s
1000:	learn: 2.5656378	test: 4.7275315	best: 4.7275315 (1000)	total: 53s	remaining: 3m 31s
2000:	learn: 1.3685468	test: 4.1541121	best: 4.1541121 (2000)	total: 1m 44s	remaining: 2m 36s
3000:	learn: 0.8609270	test: 3.9749726	best: 3.9749726 (3000)	total: 2m 33s	remaining: 1m 42s
4000:	learn: 0.5733347	test: 3.8980233	best: 3.8980233 (4000)	total: 3m 24s	remaining: 51s
4999:	learn: 0.3985346	test: 3.8613157	best: 3.8613128 (4997)	total: 4m 12s	remaining: 0us
bestTest = 3.861312788
bestIteration = 4997
Shrink model to first 4998 iterations.

Fold-6 | MSE: 14.909753461765241

0:	learn: 288.7006200	test: 288.6646861	best: 288.6646861 (0)	total: 65.6ms	remaining: 5m 27s
1000:	learn: 2.5905652	test: 4.7701370	best: 4.7701370 (1000)	total: 53.4s	remaining: 3m 33s
2000:	learn: 1.3884896	test: 4.1722690	best: 4.1722690 (2000)	total: 1m 44s	remaining: 2m 36s
3000:	learn: 0.8635092	test: 3.9803505	best: 3.9803505 (3000)	total: 2m 34s	remaining: 1m 42s
4000:	learn: 0.5811771	test: 3.9053453	best: 3.9053453 (4000)	total: 3m 24s	remaining: 51s
4999:	learn: 0.4089140	test: 3.8705748	best: 3.8705748 (4999)	total: 4m 14s	remaining: 0us
bestTest = 3.870574805
bestIteration = 4999

Fold-7 | MSE: 14.981317094085144

0:	learn: 288.7019651	test: 288.6544310	best: 288.6544310 (0)	total: 61.4ms	remaining: 5m 6s
1000:	learn: 2.6273338	test: 4.7078760	best: 4.7078760 (1000)	total: 51.6s	remaining: 3m 26s
2000:	learn: 1.4475836	test: 4.1120408	best: 4.1120408 (2000)	total: 1m 42s	remaining: 2m 33s
3000:	learn: 0.9403337	test: 3.9254746	best: 3.9254746 (3000)	total: 2m 33s	remaining: 1m 42s
4000:	learn: 0.6629963	test: 3.8500809	best: 3.8500809 (4000)	total: 3m 21s	remaining: 50.3s
4999:	learn: 0.4933833	test: 3.8122166	best: 3.8122166 (4999)	total: 4m 12s	remaining: 0us
bestTest = 3.812216649
bestIteration = 4999

Fold-8 | MSE: 14.53291286985088

0:	learn: 288.8757891	test: 287.0891134	best: 287.0891134 (0)	total: 65.1ms	remaining: 5m 25s
1000:	learn: 2.5680248	test: 4.7016555	best: 4.7016555 (1000)	total: 52s	remaining: 3m 27s
2000:	learn: 1.3987163	test: 4.1507162	best: 4.1507162 (2000)	total: 1m 42s	remaining: 2m 33s
3000:	learn: 0.8710986	test: 3.9661795	best: 3.9661795 (3000)	total: 2m 33s	remaining: 1m 42s
4000:	learn: 0.5815733	test: 3.8909259	best: 3.8909259 (4000)	total: 3m 23s	remaining: 50.8s
4999:	learn: 0.4030445	test: 3.8529025	best: 3.8529025 (4999)	total: 4m 12s	remaining: 0us
bestTest = 3.852902482
bestIteration = 4999

Fold-9 | MSE: 14.844755053078117

0:	learn: 288.6218540	test: 289.3742031	best: 289.3742031 (0)	total: 59.2ms	remaining: 4m 55s
1000:	learn: 2.5898134	test: 4.7032314	best: 4.7032314 (1000)	total: 52.3s	remaining: 3m 29s
2000:	learn: 1.4111574	test: 4.1465813	best: 4.1465813 (2000)	total: 1m 42s	remaining: 2m 33s
3000:	learn: 0.8862676	test: 3.9606667	best: 3.9606667 (3000)	total: 2m 32s	remaining: 1m 41s
4000:	learn: 0.6050980	test: 3.8864119	best: 3.8864064 (3999)	total: 3m 21s	remaining: 50.2s
4999:	learn: 0.4304880	test: 3.8491458	best: 3.8491458 (4999)	total: 4m 9s	remaining: 0us
bestTest = 3.849145789
bestIteration = 4999

Fold-10 | MSE: 14.81591885175321

All Folds | MSE: 15.153176446778199

In [19]:
Xtrain = pd.merge(
    train_org, 
    train,
    how='left',
    on=features,
    sort=False
)

print(f"Xtrain: {Xtrain.shape}")
Xtrain.head()

Xtrain: (175296, 425)

,Year,Hour_x,Minute,Clearsky DHI_x,Clearsky DNI_x,Clearsky GHI_x,Cloud Type,Dew Point,Temperature,Pressure,...,Humidity * Temp Diff-72abs_shift,Humidity * Temp Diff+72abs_shift,Hour_y,Clearsky DHI_y,Clearsky DNI_y,Clearsky GHI_y,Solar Zenith Angle_y,Clearsky DHI_cb,Clearsky DNI_cb,Clearsky GHI_cb
0,2009,0,0,0,0,0,0,-1.153846,-1.153846,1010,...,0.666735,0.489860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2009,0,30,0,0,0,0,-1.076923,-1.153846,1010,...,0.572114,0.395217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2009,1,0,0,0,0,4,-1.153846,-1.153846,1010,...,0.692664,0.692833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2009,1,30,0,0,0,4,-1.153846,-1.230769,1010,...,0.554131,0.387374,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2009,2,0,0,0,0,4,-1.153846,-1.230769,1010,...,0.541246,0.372326,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
Xtest = pd.merge(
    test_org, 
    test,
    how='left',
    on=features,
    sort=False
)

print(f"Xtest: {Xtest.shape}")
Xtest.head()

Xtest: (17520, 425)

,Year,Hour_x,Minute,Cloud Type,Dew Point,Temperature,Pressure,Relative Humidity,Solar Zenith Angle_x,Precipitable Water,...,Humidity * Temp Diff-72abs_shift,Humidity * Temp Diff+72abs_shift,Hour_y,Solar Zenith Angle_y,Clearsky DHI_y,Clearsky DNI_y,Clearsky GHI_y,Clearsky DHI_cb,Clearsky DNI_cb,Clearsky GHI_cb
0,2019,0,0,7,0.261538,-0.092308,1008,0.416255,106.23,0.235775,...,0.069169,0.034175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019,0,30,3,0.261538,-0.107692,1008,0.453956,112.36,0.235775,...,0.035016,-0.083671,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019,1,0,3,0.246154,-0.115385,1008,0.436341,118.58,0.235775,...,0.052222,-0.016923,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019,1,30,3,0.246154,-0.130769,1008,0.474351,124.86,0.235775,...,0.017625,-0.164336,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019,2,0,0,0.230769,-0.153846,1008,0.478368,131.20,0.272964,...,0.000000,-0.118485,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
Xtrain['Clearsky DHI_cb'] = Xtrain.apply(lambda row: 0 if row['Solar Zenith Angle_x']>=93 or row['Hour_x'] in [1,2,3,4,5,6,7,8,9] else row['Clearsky DHI_cb'], axis=1)
Xtrain['Clearsky DNI_cb'] = Xtrain.apply(lambda row: 0 if row['Solar Zenith Angle_x']>=93 or row['Hour_x'] in [1,2,3,4,5,6,7,8,9] else row['Clearsky DNI_cb'], axis=1)
Xtrain['Clearsky GHI_cb'] = Xtrain.apply(lambda row: 0 if row['Solar Zenith Angle_x']>=93 or row['Hour_x'] in [1,2,3,4,5,6,7,8,9] else row['Clearsky GHI_cb'], axis=1)

Xtrain['Clearsky DNI_cb'] = Xtrain.apply(lambda row: 0 if row['Clearsky DHI_cb']==0 else row['Clearsky DNI_cb'], axis=1)
Xtrain['Clearsky GHI_cb'] = Xtrain.apply(lambda row: 0 if row['Clearsky DHI_cb']==0 else row['Clearsky GHI_cb'], axis=1)

Xtrain.head()

,Year,Hour_x,Minute,Clearsky DHI_x,Clearsky DNI_x,Clearsky GHI_x,Cloud Type,Dew Point,Temperature,Pressure,...,Humidity * Temp Diff-72abs_shift,Humidity * Temp Diff+72abs_shift,Hour_y,Clearsky DHI_y,Clearsky DNI_y,Clearsky GHI_y,Solar Zenith Angle_y,Clearsky DHI_cb,Clearsky DNI_cb,Clearsky GHI_cb
0,2009,0,0,0,0,0,0,-1.153846,-1.153846,1010,...,0.666735,0.489860,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1,2009,0,30,0,0,0,0,-1.076923,-1.153846,1010,...,0.572114,0.395217,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
2,2009,1,0,0,0,0,4,-1.153846,-1.153846,1010,...,0.692664,0.692833,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
3,2009,1,30,0,0,0,4,-1.153846,-1.230769,1010,...,0.554131,0.387374,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
4,2009,2,0,0,0,0,4,-1.153846,-1.230769,1010,...,0.541246,0.372326,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0

In [22]:
print(f"""
Clearsky DHI: {mean_squared_error(Xtrain['Clearsky DHI_x'], Xtrain['Clearsky DHI_cb'])}
Clearsky DNI: {mean_squared_error(Xtrain['Clearsky DNI_x'], Xtrain['Clearsky DNI_cb'])}
Clearsky GHI: {mean_squared_error(Xtrain['Clearsky GHI_x'], Xtrain['Clearsky GHI_cb'])}
"""
)

Clearsky DHI: 26.191061852081386
Clearsky DNI: 218.64927409372882
Clearsky GHI: 7.91501400486236

In [23]:
Xtest['Clearsky DHI_cb'] = Xtest.apply(lambda row: 0 if row['Solar Zenith Angle_x']>=93 or row['Hour_x'] in [1,2,3,4,5,6,7,8,9] else row['Clearsky DHI_cb'], axis=1)
Xtest['Clearsky DNI_cb'] = Xtest.apply(lambda row: 0 if row['Solar Zenith Angle_x']>=93 or row['Hour_x'] in [1,2,3,4,5,6,7,8,9] else row['Clearsky DNI_cb'], axis=1)
Xtest['Clearsky GHI_cb'] = Xtest.apply(lambda row: 0 if row['Solar Zenith Angle_x']>=93 or row['Hour_x'] in [1,2,3,4,5,6,7,8,9] else row['Clearsky GHI_cb'], axis=1)

Xtest['Clearsky DNI_cb'] = Xtest.apply(lambda row: 0 if row['Clearsky DHI_cb']==0 else row['Clearsky DNI_cb'], axis=1)
Xtest['Clearsky GHI_cb'] = Xtest.apply(lambda row: 0 if row['Clearsky DHI_cb']==0 else row['Clearsky GHI_cb'], axis=1)

Xtest.head()

,Year,Hour_x,Minute,Cloud Type,Dew Point,Temperature,Pressure,Relative Humidity,Solar Zenith Angle_x,Precipitable Water,...,Humidity * Temp Diff-72abs_shift,Humidity * Temp Diff+72abs_shift,Hour_y,Solar Zenith Angle_y,Clearsky DHI_y,Clearsky DNI_y,Clearsky GHI_y,Clearsky DHI_cb,Clearsky DNI_cb,Clearsky GHI_cb
0,2019,0,0,7,0.261538,-0.092308,1008,0.416255,106.23,0.235775,...,0.069169,0.034175,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1,2019,0,30,3,0.261538,-0.107692,1008,0.453956,112.36,0.235775,...,0.035016,-0.083671,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
2,2019,1,0,3,0.246154,-0.115385,1008,0.436341,118.58,0.235775,...,0.052222,-0.016923,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
3,2019,1,30,3,0.246154,-0.130769,1008,0.474351,124.86,0.235775,...,0.017625,-0.164336,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
4,2019,2,0,0,0.230769,-0.153846,1008,0.478368,131.20,0.272964,...,0.000000,-0.118485,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0

In [24]:
Xtrain.to_pickle('./train_cb.pkl', compression='gzip')
Xtest.to_pickle('./test_cb.pkl', compression='gzip')

## Create submission file

In [25]:
submission = pd.read_csv("../input/mh-wsmlc/sample_submission.csv")
submission['Clearsky DHI'] = Xtest['Clearsky DHI_cb']
submission['Clearsky DNI'] = Xtest['Clearsky DNI_cb']
submission['Clearsky GHI'] = Xtest['Clearsky GHI_cb']
submission.to_csv("./cb_submission.csv", index=False)
submission.head()

   Clearsky DHI  Clearsky DNI  Clearsky GHI
0           0.0           0.0           0.0
1           0.0           0.0           0.0
2           0.0           0.0           0.0
3           0.0           0.0           0.0
4           0.0           0.0           0.0